<div class="h-100 d-flex align-items-center">
    <div class="flex">
        <div>About me</div>
        <div>
            "Hello! I'm [Your Name], a dedicated software engineer with a passion
             for turning innovative ideas into robust, scalable software solutions. 
             I specialize in [mention key technologies or programming languages] 
            and thrive on overcoming challenges in the ever-evolving world of technology
        </div>
        <!-- <div>
            <div>B.Tech</div>
            <div>Computer Science </div>
        </div> -->
    </div>
</div>