<div class="row" id="about">
    <div class="col-12 py-5 my-5">
        <div class="py-3">
            <div class="heading">About me</div>
            <div class="subheading text-secondary text-underline">kumar.hany1994&#64;gmail.com</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <div class="bg-light border rounded p-3 px-4">
                    <div class="fs-5 darkGray">LinkedIn</div>
                    <a class="fs-6 text-secondary mb-3" target="_blank" 
                    href="https://www.linkedin.com/in/hanykumar/">
                        /hanykumar</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <div class="bg-light border rounded p-3 px-4">
                    <div class="fs-5 darkGray">Github</div>
                    <a class="fs-6 text-secondary mb-3" target="_blank" href="https://github.com/hanykumar/">
                        /hanykumar
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <div class="bg-light border rounded p-3 px-4">
                    <div class="fs-5 darkGray">Contact No.</div>
                    <a class="fs-6 text-secondary mb-3 text-decoration-none">+91 9560181079</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <div class="bg-light border rounded p-3 px-4">
                    <div class="fs-5 darkGray">Language</div>
                    <a class="fs-6 text-secondary mb-3 text-decoration-none">English, Hindi</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-2">
                <div class="bg-light border rounded p-3 px-4">
                    <div class="fs-5 darkGray">Address</div>
                    <a class="fs-6 text-secondary mb-3 text-decoration-none">Greater Noida, Uttar Pradesh, India</a>
                </div>
            </div>
        </div>
        <!-- <div class="row flex-wrap">
            <div class="col-lg-4 col-md-6 col-12 ">
                <div class="bg-light border rounded p-3 px-4">
                    <div class="fs-5 darkGray">Language</div>
                    <div class="fs-6 text-secondary mb-3">English, Hindi</div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- <div class="row" id="about">
    <div class="col-12 py-5">
        <div class="py-3">
            <div class="heading mb-2">About me</div>
            <div class="subheading text-secondary">kumar.hany1994&#64;gmail.com</div>
        </div>
        <div class="row">
            <div class="col-6 bg-light border p-3 my-1">
                <div class="fs-5">Language</div>
                <div class="fs-6 mb-3">English, Hindi</div>
            </div>
            <div class="col-6 bg-light border p-3 my-1">
                <div class="fs-5">Contact No.</div>
                <div class="fs-6 mb-3">+91 9560181079</div>
            </div>
        </div>
    </div>
</div> -->