<header class="bg-secondary p-3" style="height: 70px;">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <img src="{{icon}}" alt="Task List" width="40" />
            <div class="fs-3 text-light">Hany Kumar</div>
            <div class="flex">
                <a class="text-light p-2" href="https://www.linkedin.com/in/hanykumar/"><i
                        class="bx bxl-linkedin fs-4"></i></a>
                <a class="text-light p-2" href="https://github.com/hanykumar/"><i class="bx bxl-github fs-4"></i></a>
            </div>
        </div>
    </div>
</header>

