<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3" >
    <div class="container px-4">
        <div class="navbar-branch rounded-circle overflow-hidden mx-1">
            <a href="#home">
                <img src="{{profile_pic}}" alt="Hany Kumar" width="40" />
            </a>
        </div>
        <!-- Toggle button for small screens -->
        <button class="btn menu-btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!-- Navbar items -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mt-2">
                <li class="nav-item">
                    <a class="nav-link" href="#projects" >Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience" >Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#technical-skills">Technical Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#publication">Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resume">Resume</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <!-- <div class="d-flex justify-content-end"> -->
            <a title="LinkedIn Profile" target="_blank" class="text-light p-2"
                href="https://www.linkedin.com/in/hanykumar/"><i class="bx bxl-linkedin fs-2 " style="color: #0A66C2;"></i></a>
            <a title="Github Profile" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title="Tooltip on top" class="text-light p-2" href="https://github.com/hanykumar/">
                <i class="bx bxl-github fs-2 text-secondary"></i></a>
            <!-- </div> -->
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="rounded-circle overflow-hidden">
            <img src="{{profile_pic}}" alt="Hany Kumar" width="40" />
        </div>


        <div class="bg-primary navbar-toggler">
            <a title="LinkedIn Profile" target="_blank" class="text-light p-2"
                href="https://www.linkedin.com/in/hanykumar/"><i class="bx bxl-linkedin fs-3 text-primary"></i>
            </a>
            <a title="Github Profile" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title="Tooltip on top" class="text-light p-2" href="https://github.com/hanykumar/">
                <i class="bx bxl-github fs-3 text-secondary"></i>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavSmall"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>



        <div class="collapse navbar-collapse justify-content-end" id="navbarNavLarge">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#technical-skills">Technical Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#publication">Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resume">Resume</a>
                </li>
            </ul>
        </div>

        <div class="bg-primary collapse navbar-collapse">
            <a title="LinkedIn Profile" target="_blank" class="text-light p-2"
                href="https://www.linkedin.com/in/hanykumar/"><i class="bx bxl-linkedin fs-3 text-primary"></i></a>
            <a title="Github Profile" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title="Tooltip on top" class="text-light p-2" href="https://github.com/hanykumar/">
                <i class="bx bxl-github fs-3 text-secondary"></i></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavSmall">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#technical-skills">Technical Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#publication">Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resume">Resume</a>
                </li>
            </ul>
        </div>
        
    </div>
</nav> -->

<!-- <header class="bg-white p-3" style="height: 70px;">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="rounded-circle overflow-hidden">
                <img src="{{profile_pic}}" alt="Hany Kumar" width="40" />
            </div>
            <div class="flex-grow">
                <ul class="d-flex">
                    <li class="">Projects</li>
                    <li>Experience</li>
                    <li>Techincal Skills</li>
                    <li>Education</li>
                    <li>Publication</li>
                    <li>Resume</li>
                </ul>
            </div>
            <div class="flex">
                <a title="LinkedIn Profile" target="_blank" class="text-light p-2" href="https://www.linkedin.com/in/hanykumar/"><i
                        class="bx bxl-linkedin fs-3 text-primary"></i></a>
                <a title="Github Profile" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on top"
                    class="text-light p-2" href="https://github.com/hanykumar/">
                    <i class="bx bxl-github fs-3 text-secondary"></i></a>
            </div>
        </div>
    </div>
</header> -->