<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top py-3">
    <div class="container px-4">
        <div class="navbar-branch rounded-circle overflow-hidden mx-1">
            <a href="#home" (click)="closeNavbar()">
                <img src="{{profile_pic}}" alt="Hany Kumar" width="40" />
            </a>
        </div>
        <!-- Toggle button for small screens -->
        <button id="navbarToggleBtn" class="btn menu-btn navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" (click)="toggleNavbar()" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <mat-icon *ngIf="isNavbarCollapsed">menu</mat-icon>
            <mat-icon *ngIf="!isNavbarCollapsed">close</mat-icon>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mt-2">
                <li class="nav-item" *ngFor="let menu of headerMenu">
                    <a class="nav-link" [href]="menu.href" (click)="closeNavbar()">
                        {{menu.title }}</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse align-items-center justify-content-end" id="navbarNav">
            <div class="d-flex align-items-center">
            <a title="LinkedIn Profile" target="_blank" class="text-light p-1 nav-item"
                href="https://www.linkedin.com/in/hanykumar/"><img [src]="linkedin_icon"></a>
            <a title="Github Profile" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title="Tooltip on top" class="text-light p-1 nav-item" href="https://github.com/hanykumar/">
                <i class="bx bxl-github fs-3 text-secondary"></i></a>
            </div>
        </div>
    </div>
</nav>