<div class="h-100 row align-items-center my-5 py-5" id="publication">
    <div class="col-12 py-5">
        <div class="py-3">
            <div class="heading">Publication</div>
            <div class="subheading text-secondary">Research-driven Insights, Published Excellence</div>
        </div>

        <div class="bg-light rounded border text-secondary p-3 px-4">
            <div class="pb-2 fs-4 darkGray">
                Identification of Potential Forensic
                Artifacts in Cloud Storage Application Dropbox
            </div>
            <div class="pb-2 fs-5">
                Published at 2020 International Conference
                on Computer Science, Engineering and
                Applications (ICCSEA)
            </div>
            <a target="_blank" href="https://ieeexplore.ieee.org/document/9132869" class=" link-item darkGray fs-6">
                DOI: 10.1109/ICCSEA49143.2020.9132869
            </a>
        </div>
    </div>
</div>