<div class="row align-items-center h-100">
    <div class="col-lg-6 col-12">
        <div class="fs-3 py-2">Publications</div>
        <div class="bg-light rounded border p-5">
            <div class="py-2 fs-4">
                Identification of Potential Forensic
                Artifacts in Cloud Storage Application Dropbox
            </div>
            <div class="py-2 fs-5">
                Published at 2020 International Conference
                on Computer Science, Engineering and
                Applications (ICCSEA)
            </div>
            <div class="py-2 fs-6">
                DOI: 10.1109/ICCSEA49143.2020.9132869
            </div>
        </div>
    </div>
</div>