<div class="row my-5 py-5" id="projects">
    <div class="col-12 py-5">
        <div class="py-3">
            <div class="heading">Projects</div>
            <div class="subheading text-secondary">Personal Projects, Professional Impact</div>
        </div>
        <div class="row mb-5">
            <div class="col-12 position-relative">
                <div class="my-3">
                    <div class="text-decoration-none text-reset">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.hanykumar.tasklist"
                            class="fs-4 darkGray d-flex align-items-center link-item">Task List Android App <mat-icon class="mx-2">link</mat-icon></a>
                        <!-- <div class="fill-div"> -->
                        <div class="fs-5 text-secondary">Built with React Native using GlueStack UI Library</div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="w-100" >
                    <app-image-slider [images]="tasklist_app_images"></app-image-slider>
                </div>
            </div>
        </div>


        <div class="row mb-5">
            <div class="col-12 position-relative">
                <div class="my-3">
                    <div class="text-decoration-none text-reset">
                        <a target="_blank" href="https://tasklist.hanykumar.in" class="link-item fs-4 darkGray d-flex align-items-center">Task List Web
                            App <mat-icon class="mx-2">link</mat-icon></a>
                        <!-- <div class="fill-div"> -->
                        <div class="fs-5 text-secondary">Built with React using tailwind css</div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="w-100">
                    <app-image-slider [images]="tasklist_web_images"></app-image-slider>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 position-relative">
                <div class="my-3">
                    <div class="text-decoration-none text-reset">
                        <a target="_blank" href="https://compiler.hanykumar.in" class="link-item fs-4 darkGray d-flex align-items-center">JavaScript
                            Compiler
                            App <mat-icon class="mx-2">link</mat-icon></a>
                        <!-- <div class="fill-div"> -->
                        <div class="fs-5 text-secondary">Basic JavaScript compiler for testing purpose</div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="w-100">
                    <app-image-slider [images]="javascript_compiler_image"></app-image-slider>
                </div>
            </div>
        </div>
    </div>
</div>
