<!-- <div class="h-100 d-flex align-items-center py-5 mt-5" id="home"> -->
    <div class="row align-items-center h-100" id="home">
        <div class="col-12 col-md-6 col-lg-6 py-5">
            <div style="font-size: 42px;">Hany Kumar</div>
            <div class="subheading darkGray">Software Engineer, Web Developer, Full Stack Developer</div>
            <div>
                <div class="fs-5 py-3 text-secondary">
                    A dedicated software engineer with a passion
                    for turning innovative ideas into robust, scalable software solutions.
                    I am specialized in
                    <span class="badge rounded-pill primary-bg-color mx-1">React (NextJS) </span>
                    <span class="badge rounded-pill primary-bg-color mx-1">React-Native </span>
                    <span class="badge rounded-pill primary-bg-color mx-1">Angular </span>
                    with <span class="badge rounded-pill primary-bg-color mx-1">JavaScript </span>
                    and thrive on overcoming challenges in the ever-evolving world of technology
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div>
                <img [src]="profile_complete" alt="Hany Kumar" style="width: 100%;height: 100%;" />
            </div>
        </div>
    </div>
<!-- </div> -->