<div class="h-100 d-flex align-items-center">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="fs-1 py-2">Hi, This is Hany Kumar</div>
            <div class="fs-3 py-2">Software Engineer, Web Developer, Full Stack Developer</div>
            <div>
                <div class="fs-5">
                    A dedicated software engineer with a passion
                    for turning innovative ideas into robust, scalable software solutions.
                    I am specialized in
                    <span class="badge rounded-pill text-bg-primary mx-1">NextJS </span>
                    <span class="badge rounded-pill text-bg-primary mx-1">React-Native </span>
                    <span class="badge rounded-pill text-bg-primary mx-1">Angular </span>
                    <span class="badge rounded-pill text-bg-primary mx-1">JavaScript </span>
                    and thrive on overcoming challenges in the ever-evolving world of technology
                </div>
            </div>
        </div>
    </div>
</div>