/* You can add global styles to this file, and also import other style files */
// @use "@angular/material" as mat;
// @import "~bootstrap/dist/css/bootstrap.min.css";

// @import '../node_modules/ngx-extended-pdf-viewer/...';



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/Montserrat-Regular.ttf");
    src: local(""), url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    src: url("./assets/fonts/Montserrat-Italic.ttf");
    src: local(""), url("./assets/fonts/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/Montserrat-SemiBold.ttf");
    src: local(""), url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}


h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.heading {
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
.subheading {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
.darkGray {
    color: rgb(77, 77, 77);
}
.darkGrayBg{
    background-color: #007958 !important;
}
.primary-color {
    color: #007958;
}
.primary-bg-color {
    background-color: #007958;
}

.btn.menu-btn:focus {
    outline: 1px solid gray !important;
    box-shadow: none; /* Optional: Remove box-shadow as well */
}
.btn.menu-btn:active {
    border: none;
}