<div class="row " id="experience">
    <div class="col-12 py-5 my-5">
        <div class="py-3">
            <div class="heading mb-2">Experience</div>
            <div class="subheading text-secondary">4 Years of excellence in Angular, React and React-Native</div>
        </div>
        <div class="row justify-content-center flex-wrap my-3" *ngFor="let exp of experience">
            <div class="col-lg-6 mb-4">
                <div class="text-secondary">
                    <div class="fs-4 darkGray mb-2">{{ exp.position }}</div>
                    <div class="fs-5">{{ exp.company }}</div>
                    <div class="fs-6 mb-3">{{ exp.location }}</div>
                    <div class="d-flex ">
                        <div class="fs-6">{{ exp.startDate }} </div>
                        <div class="fs-6"><span class="mx-2">-</span>{{ exp.endDate }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <ul class="darkGray list-group">
                    <li *ngFor="let res of exp.responsibilities; let i = index"
                        class="list-group-item d-flex justify-content-between align-items-center bg-light ">
                        <div class="fs-5 py-2 px-3">{{ res }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>